In [ ]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
import pandas as pd
from sklearn.model_selection import train_test_split

In [1]:
import pandas as pd

df=pd.read_csv('1_Churn_Modelling.csv')

df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [2]:
df.drop(["RowNumber","CustomerId","Surname"],axis=1,inplace=True)

In [3]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
#Encoding

df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
df.groupby('Geography').mean(['Exited'])['Exited']

Geography
France     0.161548
Germany    0.324432
Spain      0.166734
Name: Exited, dtype: float64

In [8]:
df.groupby('Geography').sum(['Exited'])['Exited']

Geography
France     810
Germany    814
Spain      413
Name: Exited, dtype: int64

In [9]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
#one-hot encoding

geography_onehot= pd.get_dummies(df['Geography'],drop_first=True).astype('int')
geography_onehot

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [11]:
geography_onehot.head()

   Germany  Spain
0        0      0
1        0      1
2        0      0
3        0      0
4        0      1

pd.get_dummies(df.Gender)

In [12]:
gender_onehot=pd.get_dummies(df['Gender'],drop_first=True).astype('int')

In [13]:
# df.drop(['Geography','Gender'],axis=1,inplace=True)

df2 = pd.concat([df,geography_onehot,gender_onehot],axis=1)
df2

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [18]:
df2.head(50)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1,0,1,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0,0,0,1
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1,1,0,0
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0,0,0,1
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0,0,0,1
10,528,France,Male,31,6,102016.72,2,0,0,80181.12,0,0,0,1
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0,0,1,1
12,476,France,Female,34,10,0.00,2,1,0,26260.98,0,0,0,0
13,549,France,Female,25,5,0.00,2,0,0,190857.79,0,0,0,0
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0,0,1,0
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0,1,0,1
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1,1,0,1
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0,0,1,0
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0,0,1,1
19,726,France,Female,24,6,0.00,2,1,1,54724.03,0,0,0,0
20,732,France,Male,41,8,0.00,2,1,1,170886.17,0,0,0,1
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0,0,1,0
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1,0,1,0
23,669,France,Male,46,3,0.00,2,0,1,8487.75,0,0,0,1
24,846,France,Female,38,5,0.00,1,1,1,187616.16,0,0,0,0
25,577,France,Male,25,3,0.00,2,0,1,124508.29,0,0,0,1
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0,1,0,1
27,571,France,Male,44,9,0.00,2,0,0,38433.35,0,0,0,1
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0,1,0,0
29,411,France,Male,29,0,59697.17,2,1,1,53483.21,0,0,0,1
30,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1,0,1,0
31,533,France,Male,36,7,85311.70,1,0,1,156731.91,0,0,0,1
32,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0,1,0,1
33,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0,0,1,0
34,722,Spain,Female,29,9,0.00,2,1,1,142033.07,0,0,1,0
35,475,France,Female,45,0,134264.04,1,1,0,27822.99,1,0,0,0
36,490,Spain,Male,31,3,145260.23,1,0,1,114066.77,0,0,1,1
37,804,Spain,Male,33,7,76548.60,1,0,1,98453.45,0,0,1,1
38,850,France,Male,36,7,0.00,1,1,1,40812.90,0,0,0,1
39,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0,1,0,1
40,472,Spain,Male,40,4,0.00,1,1,0,70154.22,0,0,1,1
41,465,France,Female,51,8,122522.32,1,0,0,181297.65,1,0,0,0
42,556,France,Female,61,2,117419.35,1,1,1,94153.83,0,0,0,0
43,834,France,Female,49,2,131394.56,1,0,0,194365.76,1,0,0,0
44,660,Spain,Female,61,5,155931.11,1,1,1,158338.39,0,0,1,0
45,776,Germany,Female,32,4,109421.13,2,1,1,126517.46,0,1,0,0
46,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1,1,0,0
47,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1,1,0,0
48,550,Germany,Male,38,2,103391.38,1,0,1,90878.13,0,1,0,1
49,776,Germany,Female,37,2,103769.22,2,1,0,194099.12,0,1,0,0

In [25]:
df2.drop(['Gender','Geography'], axis= 1, inplace = True)

In [26]:
df2

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [27]:
#x, y split
X=df2.drop('Exited',axis=1)

y=df2.Exited

In [28]:
#train test split:

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

In [30]:
X_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
6252,596,32,3,96709.07,2,0,0,41788.37,1,0,1
4684,623,43,1,0.00,2,1,1,146379.30,0,0,1
1731,601,44,4,0.00,2,1,0,58561.31,0,1,0
4742,506,59,8,119152.10,2,1,1,170679.74,1,0,1
4521,560,27,7,124995.98,1,1,1,114669.79,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
4862,645,55,1,133676.65,1,0,1,17095.49,0,1,0
7025,569,51,3,0.00,3,1,0,75084.96,0,1,0
7647,768,25,0,78396.08,1,1,1,8316.19,0,0,1
7161,690,36,6,110480.48,1,0,0,81292.33,0,0,0
73,604,25,5,157780.84,2,1,1,58426.81,1,0,0

In [34]:
from sklearn.linear_model import LinearRegression

In [36]:
lg_model = LinearRegression()
lg_model

LinearRegression()

In [38]:
lg_model.fit(X_train,y_train)

LinearRegression()

In [39]:
lg_ytrain = lg_model.predict(X_train)

In [40]:
lg_ytrain

array([0.32561906, 0.32830379, 0.1762776 , ..., 0.23621286, 0.29018324,
       0.35612154])

In [31]:
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier()

model1

DecisionTreeClassifier()

In [32]:
model1.fit(X_train,y_train)

DecisionTreeClassifier()

In [33]:
y_train_pred = model1.predict(X_train)
y_train_pred

array([1, 0, 0, ..., 1, 1, 0])

In [42]:
from sklearn.metrics import accuracy_score

In [43]:
accuracy_score(y_train_pred, y_train)

1.0

In [44]:
# training accuracy

y_train_pred = model1.predict(X_train)

In [49]:
y_train_pred

array([1, 0, 0, ..., 1, 1, 0])

In [ ]:
from sklearn.metrics import accuracy_score

In [50]:
accuracy_score(y_train_pred,y_train)

1.0

In [53]:
y_test_pred= model1.predict(X_test)

In [54]:
accuracy_score(y_test_pred, y_test)

0.7952

#Tuning the hyper parameters

In [55]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [56]:
parameter_grid = {
    'max_depth': [5,10,15,None],
    'min_samples_split': [2,5,10,15],
    'min_samples_leaf':[10,15,20],
}

In [57]:
gridsearch = GridSearchCV(
    estimator=DecisionTreeClassifier(),
    param_grid = parameter_grid,
    scoring='f1',
    cv=5,
    verbose=1)

In [58]:
gridsearch.fit(X_train,y_train)

Fitting 5 folds for each of 48 candidates, totalling 240 fits

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': [5, 10, 15, None],
                         'min_samples_leaf': [10, 15, 20],
                         'min_samples_split': [2, 5, 10, 15]},
             scoring='f1', verbose=1)

In [59]:
gridsearch.best_params_

{'max_depth': 10, 'min_samples_leaf': 20, 'min_samples_split': 5}

In [60]:
model2=DecisionTreeClassifier(max_depth=5,min_samples_leaf=10,min_samples_split=2)

In [61]:
model2.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=10)

In [62]:
y_train_pred=model2.predict(X_train)
y_test_pred=model2.predict(X_test)

In [63]:
accuracy_score(y_train_pred,y_train)

0.8566666666666667

In [64]:
accuracy_score(y_test_pred,y_test)

0.8596

In [65]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [66]:
from sklearn.metrics import classification_report
print(
classification_report(y_test_pred,y_test)
)

              precision    recall  f1-score   support

           0       0.97      0.87      0.92      2250
           1       0.40      0.79      0.53       250

    accuracy                           0.86      2500
   macro avg       0.69      0.83      0.72      2500
weighted avg       0.92      0.86      0.88      2500

In [67]:
model3= gridsearch.best_estimator_

In [68]:
model3.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=10, min_samples_leaf=20, min_samples_split=5)

In [69]:
y_pred_test= model3.predict(X_test)

In [ ]:
y_pred_test

In [70]:
from sklearn.metrics import classification_report
print(
classification_report(y_pred_test,y_test)
)

              precision    recall  f1-score   support

           0       0.95      0.88      0.91      2176
           1       0.46      0.71      0.56       324

    accuracy                           0.85      2500
   macro avg       0.71      0.79      0.74      2500
weighted avg       0.89      0.85      0.87      2500

In [71]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model_random_forest=RandomForestClassifier()